* {
    margin: 0;
    padding: 0
}

main {
    width: 100%;
    height: 92vh;
}

footer {
    width: 100%;
    height: 8vh;
}

footer h1 {
    margin: 0px 50px;
    padding: 15px 0px;
}

main img {
    width: 100%;
    height: 92vh;
    object-fit: cover;
}

#flyingBird {
    display: none;
    width: 5%;
    height: 5%;
    object-fit: contain;
    margin: 0;
    padding: 0;
}